<div class="container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col">Recherche par nom</div>
        <div class="col"><input type="text"></div>
        <div class="col"><button type="submit" class="btn btn-dark" (click)="rechercherMat()">Rechercher</button></div>
    </div>
    <div class="row"><br></div>
    <div class="row">
            <ng-container  *ngFor="let matricule of tabMatricules">
                    <div class="col">{{matricule}}</div>               
            </ng-container>                    
    </div> 
</div>