<div class="container">
    <div class="row p-2">
        <div class="col">
            <h1><b>Entre tes informations sale Mauch</b></h1>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="col"><b>Email de Mauch</b></div>
            <div class="col"><input type="email" #email value="test@hotmail.fr"></div>
        </div>
        <div class="col">
            <div class="col"><b>Mot de passe de Mauch</b></div>
            <div class="col"><input type="text" #password value="pass1"></div>
        </div>
        <div class="col">
            <div class="col"><button type="button" class="btn btn-info"
                    (click)="connexion(email.value, password.value)"><b>Connexion Mauch</b></button>
            </div>
        </div>
    </div>
</div>