<div class="container">    
    <div class="row p-2">
        <div class="col"><h1> <font color="green"><b>Entre tes informations sale Mauch</b></font></h1></div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="col"><font color="blue"><b>Email de Mauch</b></font></div>
            <div class="col"><input type="email" #email></div>
        </div>
        <div class="col">
            <div class="col"><font color="gold"><b>Mot de passe de Mauch</b></font></div>
            <div class="col"><input type="text" #password></div>
        </div>
        <div class="col">
            <div class="col"><br></div>
            <div class="col"><button type="button" class="btn btn-info" (click)="connexion(email.value, password.value)"><font color="red"><b>Connexion Mauch</b></font></button>
            </div>
        </div>
    </div>    
    <div class="row p-2"><b><font color="red">C</font><font color="green"> 'EST</font><font color="blue"> DEGUEULASSE</font><font color="pink"> HEIN ?!</font></b></div>
</div>